@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Poppins:wght@200&display=swap');

body{
    display: flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    background: lightskyblue;   
}

.form{
    width:500px;
    padding: 6px;
}

input,textarea{
    width: 100%;
    padding: 6px;
    outline: none;
    border: none;
    margin: 6px 0px;
}

#btn{
    width:150px;
    padding: 6px;
    cursor: pointer;
}

